<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>主页</title>
	
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta content="wuxiaoyi" name="author" />
    <meta name="content-type" content="text/html; charset=UTF-8">  
	<script type="text/javascript" th:src="@{/js/loader.js}"></script>
  </head>
  
<body class="hold-transition skin-blue-light sidebar-mini">
  <div class="wrapper">
  	<header class="main-header" id="header">
	    <a th:href="@{/studentMain.do}" class="logo">
	      <span class="logo-mini"><b>A</b>MS</span>
	      <span class="logo-lg">考勤管理系统</span>
	    </a>
	    <nav class="navbar navbar-static-top">
	      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </a>
	      <div class="navbar-custom-menu">
	        <ul class="nav navbar-nav">
	          <li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
					<span th:text="${session.admin.sname }"></span>
					<i class="fa fa-user fa-fw" style="color:#ffffff;"></i> <i class="fa fa-caret-down" style="color:#ffffff;"></i>
				</a>
				<ul class="dropdown-menu dropdown-user">
					<li>
					<a href="logout" style="color:#337ab7;"><i class="fa fa-sign-out fa-fw" style="color:#337ab7;"></i>
						登出
					</a>
					</li>
				</ul>
	        </ul>
	      </div>
    	</nav>
  	</header>
 
	<!--导航栏class="active-menu-->
	<aside class="main-sidebar" id="menu">
    	<section class="sidebar">
		    <ul class="sidebar-menu" data-widget="tree">
		        <li>
		          <a th:href="@{/adminTeacherManagement.do}">
		            <i class="fa fa-desktop"></i> <span>教师管理</span>
		          </a>
		        </li>
		        <li>
		          <a th:href="@{/adminClassManagement.do}">
		            <i class="fa fa-table"></i> <span>课程管理</span>
		          </a>
		        </li>
		        <li>
		          <a th:href="@{/adminAttendanceManagement.do}">
		            <i class="fa fa-table"></i> <span>考勤管理</span>
		          </a>
		        </li>
		        <li class="treeview">
		          <a href="#">
		            <i class="fa fa-dashboard"></i> <span>考勤统计</span>
		            <span class="pull-right-container">
		              <i class="fa fa-angle-left pull-right"></i>
		            </span>
		          </a>
		          <ul class="treeview-menu">
		            <li><a th:href="@{/schoolAttendance.do}"><i class="fa fa-circle-o text-red"></i> 全校考勤</a></li>
		            <li><a th:href="@{/academyAttendance.do}"><i class="fa fa-circle-o text-yellow"></i> 学院考勤</a></li>
		            <li><a th:href="@{/studentmyclasses.do}"><i class="fa fa-circle-o text-green"></i> 我的考勤</a></li>
		          </ul>
		       	</li>
		    </ul>
		</section>
	</aside>
  </div>
  </body>
</html>
