<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<meta name="content-type" content="text/html; charset=UTF-8">
<title>统计信息</title>
<script type="text/javascript" th:src="@{/js/loader.js}"></script>
</head>
<body>
	<div id="wrapper">
		<div th:replace="part/main::#header"></div>
		<div th:replace="part/main::#menu"></div>
		<!-- /. NAV SIDE  -->
		<div id="page-wrapper">
			<div id="page-inner">
				<div class="row">
					<div class="col-md-6 col-sm-12 col-xs-12">
						<div class="panel panel-default" style="width: 900px;height:600px;">
							<div class="panel-heading">各个学院考勤情况</div>
							<div class="panel-body" >
								<div id="quantity-bar-echarts" style="width: 800px;height:400px;"></div>
							</div>
						</div>
					</div>
				</div>
		
			</div>
			<!-- /. PAGE INNER  -->
		</div>
		<!-- /. PAGE WRAPPER  -->
	</div>
	<!-- /. WRAPPER  -->
	<!-- JS Scripts-->
	<script type="text/javascript">
	
	
	$.queryAll("showacademy.do",function(res){
       var myChart = echarts.init(document.getElementById('quantity-bar-echarts'));
       
       var option = {
    		   tooltip : {
    		        trigger: 'axis',
    		        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
    		            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
    		        }
    		    },
    		    legend: {
    		        data:['出勤率','缺勤率','迟到率']
    		    },
    		    grid: {
    		        left: '3%',
    		        right: '4%',
    		        bottom: '3%',
    		        containLabel: true
    		    },
               xAxis: [{
                  data: ['软件学院', '数学科学学院', '物理科学与技术学院', '管理学院', '法学院'] 
               }],
              yAxis: [{    }],
              series: [
            	  {
                      name:'出勤率',
                      type:'bar',
                      stack: '概率',
                      data:res.data[0]
                  } ,
                  {
                      name:'缺勤率',
                      type:'bar',
                      stack: '概率',
                      data:res.data[1]
                  },
                  {
                      name:'迟到率',
                      type:'bar',
                      stack: '概率',
                      data:res.data[2]
                  },
               ] 
        };
    
    myChart.setOption(option);
		
	}); 
	</script>
</body>
</html>
