<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<meta name="content-type" content="text/html; charset=UTF-8">
<title>教师管理</title>
<script type="text/javascript" th:src="@{/js/loader.js}"></script>
</head>
<body>
	<div id="wrapper">
		<div th:replace="part/main::#header"></div>
		<div th:replace="part/main::#menu"></div>
		<!-- /. NAV SIDE  -->
		<div id="page-wrapper">
			<div id="page-inner">
				<div class="row">
					<div class="col-md-6 col-sm-12 col-xs-12">
						<div class="panel panel-default">
							<div class="panel-heading">教师管理</div>
							<div class="panel-body">
								
							</div>
						</div>
					</div>
				</div>
		
			</div>
			<!-- /. PAGE INNER  -->
		</div>
	</div>
	<!-- /. WRAPPER  -->
</body>
</html>
