<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<meta name="content-type" content="text/html; charset=UTF-8">
<title>统计信息</title>
<script type="text/javascript" th:src="@{/js/loader.js}"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
		<div th:replace="part/main::#header"></div>
		<div th:replace="part/main::#menu"></div>
		<!-- /. NAV SIDE  -->
		<div class="content-wrapper">
			<section class="content">
				<div class="box box-primary">
					<div class="box-header with-border">全校考勤情况</div>
					<div class="box-body">
						<div id="quantity-bar-echarts" style="width: 100%;height:600px;"></div>
					</div>
				</div>
		
			</section>
			<!-- /. PAGE INNER  -->
		</div>
		<!-- /. PAGE WRAPPER  -->
	</div>
	<!-- /. WRAPPER  -->
	<!-- JS Scripts-->
	<script type="text/javascript">
	
	$.queryAll("showschool.do",function(res){
	document.getElementById('quantity-bar-echarts').style.height = (window.innerHeight-65)*0.85 + "px";
	var myChart = echarts.init(document.getElementById('quantity-bar-echarts'));
    option = {
    	baseOption: {
    		timeline: {
                    //loop: false,        
                    axisType: 'category',
                    show: true,
                    autoPlay: true,
                    playInterval: 1500,
                    data: ['Week1', 'Week2', 'Week3', 'Week4']
                },
		    tooltip: {
		        trigger: 'axis',
		        axisPointer: {
		            type: 'cross',
		            crossStyle: {
		                color: '#999'
		            }
		        }
		    },
		    legend: {
		        data:['出勤人数','迟到人数','缺勤人数','出勤率']
		    },
		    xAxis: [
		        {
		            type: 'category',
		            data: ['Mon','Tue','Wed','Thur','Fri'],
		            axisPointer: {
		                type: 'shadow'
		            }
		        }
		    ],
		    yAxis: [
		        {
		            type: 'value',
		            name: '人数',
		            min: 0,
		            max: 250,
		            interval: 50,
		            axisLabel: {
		                formatter: '{value}'
		            }
		        },
		        {
		            type: 'value',
		            name: '出勤率',
		            min: 0,
		            max: 100,
		            interval: 20,
		            axisLabel: { 
		                formatter: '{value} %' 
		            }
		        }
		    ],
		    series: [
		        {
		            name:'出勤人数',
		            type:'bar'
		        },
		        {
		            name:'迟到人数',
		            type:'bar'
		        },
		        {
		            name:'缺勤人数',
		            type:'bar'
		        },
		        {
		            name:'出勤率',
		            type:'line',
		            yAxisIndex: 1
		        }
		    ]
		},
    	options: [
            { // 这是'2002-01-01' 对应的 option
                title: {
                    text: 'Week1'
                },
                series: [
                    {data: [res.data[0].Mon[0],res.data[0].Tue[0],res.data[0].Wed[0],res.data[0].Thu[0],res.data[0].Fri[0]]},
                    {data: [res.data[0].Mon[1],res.data[0].Tue[1],res.data[0].Wed[1],res.data[0].Thu[1],res.data[0].Fri[1]]},
                    {data: [res.data[0].Mon[2],res.data[0].Tue[2],res.data[0].Wed[2],res.data[0].Thu[2],res.data[0].Fri[2]]}, 
                    {data: [res.data[0].Mon[3],res.data[0].Tue[3],res.data[0].Wed[3],res.data[0].Thu[3],res.data[0].Fri[3]]}
                ]
            },
            { // 这是'2003-01-01' 对应的 option
                title: {
                    text: 'Week2'
                },
                series: [
                    {data: [res.data[1].Mon[0],res.data[1].Tue[0],res.data[1].Wed[0],res.data[1].Thu[0],res.data[1].Fri[0]]},
                    {data: [res.data[1].Mon[1],res.data[1].Tue[1],res.data[1].Wed[1],res.data[1].Thu[1],res.data[1].Fri[1]]},
                    {data: [res.data[1].Mon[2],res.data[1].Tue[2],res.data[1].Wed[2],res.data[1].Thu[2],res.data[1].Fri[2]]}, 
                    {data: [res.data[1].Mon[3],res.data[1].Tue[3],res.data[1].Wed[3],res.data[1].Thu[3],res.data[1].Fri[3]]}
                ]
            },
            { // 这是'2004-01-01' 对应的 option
                title: {
                    text: 'Week3'
                },
                series: [
                    {data: [res.data[2].Mon[0],res.data[2].Tue[0],res.data[2].Wed[0],res.data[2].Thu[0],res.data[2].Fri[0]]},
                    {data: [res.data[2].Mon[1],res.data[2].Tue[1],res.data[2].Wed[1],res.data[2].Thu[1],res.data[2].Fri[1]]},
                    {data: [res.data[2].Mon[2],res.data[2].Tue[2],res.data[2].Wed[2],res.data[2].Thu[2],res.data[2].Fri[2]]}, 
                    {data: [res.data[2].Mon[3],res.data[2].Tue[3],res.data[2].Wed[3],res.data[2].Thu[3],res.data[2].Fri[3]]}
                ]
            },  
            { // 这是'2002-01-01' 对应的 option
                title: {
                    text: 'Week4'
                },
                series: [
                    {data: [res.data[3].Mon[0],res.data[3].Tue[0],res.data[3].Wed[0],res.data[3].Thu[0],res.data[3].Fri[0]]},
                    {data: [res.data[3].Mon[1],res.data[3].Tue[1],res.data[3].Wed[1],res.data[3].Thu[1],res.data[3].Fri[1]]},
                    {data: [res.data[3].Mon[2],res.data[3].Tue[2],res.data[3].Wed[2],res.data[3].Thu[2],res.data[3].Fri[2]]}, 
                    {data: [res.data[3].Mon[3],res.data[3].Tue[3],res.data[3].Wed[3],res.data[3].Thu[3],res.data[3].Fri[3]]}
                ]
            }
        ]
        }
        myChart.setOption(option);
        
		window.onresize = function() {
			document.getElementById('quantity-bar-echarts').style.height = (window.innerHeight-65)*0.85 + "px";
			myChart.resize();
		};
    });
	</script>
</body>
</html>
