<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<meta name="content-type" content="text/html; charset=UTF-8">
<title>统计信息</title>
<script type="text/javascript" th:src="@{/js/loader.js}"></script>
</head>
<body class="hold-transition skin-blue-light sidebar-mini">
  <div class="wrapper">
		<div th:replace="part/studentMain::#header"></div>
		<div th:replace="part/studentMain::#menu"></div>
		<!-- /. NAV SIDE  -->
		<div class="content-wrapper">
			<section class="content">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="box box-primary" >
							<div class="box-header with-border">个人考勤情况</div>
							<div class="box-body">
								<div id="quantity-bar-echarts" style="width: 100%;height:600px;"></div>
							</div>
						</div>
					</div>
				</div>
		
			</section>
			<!-- /. PAGE INNER  -->
		</div>
		<!-- /. PAGE WRAPPER  -->
	</div>
	<!-- /. WRAPPER  -->
	<!-- JS Scripts-->
	<script type="text/javascript">
	$.queryAll("showstudentattendance.do",function(res){
		document.getElementById('quantity-bar-echarts').style.height = (window.innerHeight-65)*0.85 + "px";
		var myChart = echarts.init(document.getElementById('quantity-bar-echarts'));
		var raw_data = [];
		raw_data.name = [];
		raw_data.value = [];
		for(var item in res.data){
			raw_data.name.push(item);
			raw_data.value.push(res.data[item]);
		}
	    var option = {
		    tooltip : {
		        trigger: 'axis'
		    },
		    xAxis: {
		        type: 'category',
		        splitLine: false,
		        data: raw_data.name
		    },
		    yAxis: {
		    	name: "出勤次数",
		        type: 'value'
		    },
		    grid: {
				left: '3%',
    		    right: '4%',
    		    bottom: '3%',
    		    containLabel: true
    		},
		    series: [{
		    	name:'出勤次数',
		        type: 'line',
		        symbolSize: 10,
		        color: '#337ab7',
		        data: raw_data.value
		    }]
		};
		
    	myChart.setOption(option);
    	window.onresize = function() {
			document.getElementById('quantity-bar-echarts').style.height = (window.innerHeight-65)*0.85 + "px";
			myChart.resize();
		};
	});
	</script>
</body>
</html>
