<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<meta name="content-type" content="text/html; charset=UTF-8">
<title>教师首页</title>
<script type="text/javascript" th:src="@{/js/loader.js}"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
		<div th:replace="part/teacherMain::#header"></div>
		<div th:replace="part/teacherMain::#menu"></div>
		<!-- /. NAV SIDE  -->
		<div class="content-wrapper">
			<section class="content">
							
			<div class="box box-primary" style="width:100%;">
              <div class="box-header with-border">
                <h3 class="box-title">我的课程</h3>
              </div>
              <!-- /.card-header -->
              <div class="panel-body p-0">
                <table class="table table-bordered table-hover">
                  <tr>
                    <th style="width: 10px">#</th>
                    <th style="width: 30%;">课程</th>
                    <th>出勤率</th>
                    <th style="width: 40px"></th>
                  </tr>
                  <tr>
                    <td>1.</td>
                    <td>Update software</td>
                    <td>
                      <div class="progress progress-xs">
                        <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                      </div>
                    </td>
                    <td><span class="label label-danger">55%</span></td>
                  </tr>
                  <tr>
                    <td>2.</td>
                    <td>Clean database</td>
                    <td>
                      <div class="progress progress-xs">
                        <div class="progress-bar progress-bar-warning" style="width: 70%"></div>
                      </div>
                    </td>
                    <td><span class="label label-warning">70%</span></td>
                  </tr>
                  <tr>
                    <td>4.</td>
                    <td>Fix and squish bugs</td>
                    <td>
                      <div class="progress progress-xs">
                        <div class="progress-bar progress-bar-success" style="width: 90%"></div>
                      </div>
                    </td>
                    <td><span class="label label-success">90%</span></td>
                  </tr>
                </table>
              </div>
			</div>
			</section>
			<!-- /. PAGE INNER  -->
		</div>
	</div>
	<!-- /. WRAPPER  -->
</body>
</html>